.container-main{
	position: absolute;
	top: 0;
	left: 0;
}

.container-central{
	min-height: 400px;
}

.container-info-panel{
	border-right: 2px solid $gray;
	min-height: 500px;
	background-color: transparentize($gray, .6);
	padding: 1em;
}

.container-toggle-panel{
	border-left: 2px solid $gray;
	background-color: transparentize($gray, .6);
	padding: 1em;
}
